// FONT VARIABLES
$font-primary: sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-large: 75em;   // 1200px
$bp-medium: 50em;    // 800px;
$bp-small: 30em;    // 480px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    color: #000;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: repeat(12, 1fr);
}


