@import "normalize.css";
@import "base/_global.css";
@import "base/_variables.css";
@import "base/_mixins.css";

@import "modules/_nav.css";
@import "modules/_divider.css";
@import "modules/_header.css";
@import "modules/_course.css";
@import "modules/_resume.css";
@import "modules/_footer.css";
