.nav {

   &__bg {
      background-color: #233140;
   }

   &__brand {
      color: #fff;
      font-size: 1.5em;
      text-transform: uppercase;
      padding-top: 10px;
      padding-bottom: 10px;

      @mixin atMedium {
         font-size: 2em;
      }

   }

}